$fonts-fallback: "Helvetica Neue", "Helvetica", "Arial", "メイリオ, meiryo", "ヒラギノ角ゴ pro w3", "hiragino kaku gothic pro", "sans-serif";

$FontUltraThin: "Papo-Lato", $fonts-fallback;
$FontThin: "Papo-Lato", $fonts-fallback;
$FontLight: "Papo-Lato", $fonts-fallback;
$FontRoman: "Papo-Lato", $fonts-fallback;
$FontMedium: "Papo-Lato", $fonts-fallback;
$FontBold: "Papo-Lato", $fonts-fallback;

@mixin FontUltraThin() {
  font-family: $FontUltraThin;
  font-weight: 300;
}

@mixin FontThin() {
  font-family: $FontThin;
  font-weight: 300;
}
@mixin FontLight() {
  font-family: $FontLight;
  font-weight: 300;
}

@mixin FontRoman() {
  font-family: $FontRoman;
  font-weight: 400;
}

@mixin FontMedium() {
  font-family: $FontMedium;
  font-weight: 700;
}

@mixin FontBold() {
  font-family: $FontBold;
  font-weight: 900;
}
